@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

body {
  background-color: rgb(55, 52, 52);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(23, 23, 23);
  height: 5rem;
}

header a {
  color: rgb(234, 169, 49);
}

header a:hover {
  color: white;
}

#logo a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1220px;
  height: 100%;
  align-items: center;
  padding: 0 16px;
}

#header-container nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: -1.25rem;
}

#header-container nav li {
  margin-left: 5px;
}

#header-container nav a {
  font-size: 1.25rem;
  padding: 1.25rem;
}

#side-drawer {
  /* display: none; */
  position: fixed;
	pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(23, 23, 23);

	opacity: 0;
	transition: opacity 350ms;
  transition-timing-function: cubic-bezier(0, 1);
}

#side-drawer:target {
  /* display: none; */
	pointer-events: all;
	opacity: 1;
}

#side-drawer .mobile-menu-button {
  display: flex;
} 

#side-drawer header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}

#side-drawer nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding: 3rem 1rem;
}

#side-drawer nav li {
  padding: 0.75rem;
}

#side-drawer nav a {
  font-size: 1.75rem;
  color: rgb(234, 169, 49);
}

#mobile-menu-close-button {
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
}


.mobile-menu-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 1.875rem;
  height: 1.875rem;
}

.mobile-menu-button span {
  width: 100%;
  height: 4px;
  background-color: white;
}