header {
  background-color: #122a54;
  position: static;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

main li img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

main ul {
  display: grid;
  max-width: 1440px;
  margin: 40px auto 40px;
  padding: 0 20px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 1080px) {
  main ul {
    display: flex;
		flex-direction: column;
  }
}

main li {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
}

main li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

.item-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 100%;
}

.item-content h2 {
  margin: 0;
}

.item-content p,
.item-content h2 {
  color: rgb(60, 60, 60);
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  align-items: flex-end;
  flex: 1;
}

.actions a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  padding: 10px 20px;
  margin: -10px -10px;
}

.actions a:hover {
  background-color: var(--secondary-color, orange);
  border-radius: 50px;
  color: white;
}
