#browse-meals {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 20px;
}

#browse-meals h1 {
	margin: 45px 0;
  color: rgb(234, 169, 49);
	font-size: 48px;
	text-align: center;
}

#meals {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 20px 0;
	justify-content: center;
	gap: 40px;
}

.meal {
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	overflow: hidden;
	background-color: #fee5b4;
	text-align: center;
	padding-bottom: 20px;
}

.meal img {
	height: 300px;
	width: 500px;
	object-fit: cover;
	object-position: center;
}

.meal a {
	color: white;
	background-color: #e19509;
	padding: 15px 30px;
	border-radius: 8px;
	display: inline-block;
}

.meal a:hover {
	color: rgb(225, 149, 9);
	background-color: white;
	border: 1px rgb(225, 149, 9) solid;
	padding: 14px 30px;
}

.meal h2 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: rgb(45, 45, 45);
	font-size: 28px;
}